.banner {
  width: 100%;
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/background.png);
}
.container-banner {
  position: relative;
  line-height: 2;
  left: 25%;
  top: 30%;
}
.container-banner h1 {
  color: white;
  margin: 0;
}
.container-banner p {
  color: lightgray;
  margin: 0;
}
.container-banner a {
  margin-top: 20px;
  background-color: darkslategrey;
  color: azure;
  padding: 15px;
  display: inline-block;
  border-radius: 1.1rem;
  font-weight: 600;
  font-size: 20px;
}
.container-banner a:hover {
  color: magenta;
  background-color: lightslategrey;
}
